{% load staticfiles %}
<!doctype html>
<html lang="en-US">
    

<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
        <meta name=”description” content= "ProKatta is a place where you can get information about latest technologies,trends and innovation happening across the globe”/>"
        <link rel="shortcut icon" href="{% static 'images/heart-pink.ico' %}"/>
        <title>{% block head_title %}ProKatta {% endblock %}</title>
       <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css" media="all"/>
       <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
       
        <link rel="stylesheet" href="{% static 'css/slick.css' %}" type="text/css" media="all" />
        <link rel="stylesheet" href="{% static 'css/magnific-popup.min.css' %}" type="text/css" media="all" />
        <link rel="stylesheet" href="{% static 'css/flexslider.css' %}" type="text/css" media="all" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />
        <link rel="stylesheet" href="{% static 'css/style-lifestyle.css' %}" type="text/css" media="all" />
        <link rel="stylesheet" href="{% static 'css/custom.css' %}" type="text/css" media="all" />
        {% block head_extra %}{% endblock head_extra %}
    </head>
    <body>
        {% include 'navbar.html' %}
        {% include 'messages_display.html' %}
                {% block category %}
                {% endblock %}
                {% block content %}
                {% endblock %}
                {% block categories %}
                {% endblock %}
                {% block instagram %}
                {% endblock %}
            {% include 'footer.html' %}
        
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <!--<script src="{% static 'js/jquery-migrate.min.js' %}"></script>-->
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.5.1/marked.min.js"></script>
        <script src="{% static 'js/classie.js' %}"></script>
        <script src="{% static 'js/slick.js' %}"></script>
        <script src="{% static 'js/jquery.flexslider-min.js' %}"></script>
        <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
        <script src="{% static 'js/script.js' %}"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $(".content-markdown").each(function(){
                        content = $(this).text()
                        console.log(content)
                        var markedContent = marked(content)
                        console.log(markedContent)
                        $(this).html(markedContent)
                })
                $(".post-detail-item img").each(function(){
                        $(this).addClass("img-responsive")
                })
                
                //preview-title
                //preview-content
               

                var contentInput = $("#id_content");
            

                function setContent(value){
                    var markedContent = marked(value)
                    $("#preview-content").html(markedContent)
                    $("#preview-content img").each(function(){
                        $(this).addClass("img-fluid")
                    })

                }
                setContent(contentInput.val())

                contentInput.keyup(function(){
                    var newContent = $(this).val()
                    setContent(newContent)
                   
                })

                var titleInput = $("#id_title");
                

                function setTitle(value){
                    $("#preview-title").text(value)
                }
                setTitle(titleInput.val())

                titleInput.keyup(function(){
                    var newContent = $(this).val()
                    setTitle(newContent)

                })

            })
            
        </script>
    </body>


</html>